:root {
  --mobile-nav-height: 100vh;
}

.HeaderNavigation {
  @include breakpoint(medium down) {
    width: 100vw;
  }

  border-bottom: 1px solid $gray;
  // margin-bottom: 2rem;
}

.Navigation {
  align-items: flex-end;
  padding: 0;

  @include breakpoint(medium down) {
    display: block;
    overflow: hidden;
    max-height: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;

    &.is-closed {
      min-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 0;
    }

    &.is-open {
      min-height: var(--mobile-nav-height); //100vh;
    }
  }

  &-logo {
    &--desktop {
      display: none;

      @include breakpoint(mediumlarge) {
        display: block;

        a {
          padding: 0 1rem 0 0 !important;
        }
      }
    }
  }

  &-menu {
    flex-direction: column;

    @include breakpoint(mediumlarge) {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &-submenu {
    @include breakpoint(medium down) {
      position: relative !important;
    }
  }

  .top-bar-right {
    @include breakpoint(medium down) {
      text-align: center;
      margin-top: 2rem;
    }
  }

  li {
    a.is-active:not(.ignore-active) {
      @include breakpoint(mediumlarge) {
        background-color: $primary-color;
        color: $white;

        &:after {
          border-color: $white transparent transparent;
        }
      }
    }
  }
}
