@import '~foundation-sites/scss/util/util';
@import 'colors';

$paragraph-font-size: rem-calc(20);

// 1. Global
// ---------

$body-font-family: 'Lato', 'Helvetica Neue', Helvetica, Roboto, Arial,
  sans-serif;

$foundation-palette: (
  primary: #584cb4,
  secondary: #cea764,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

@include add-foundation-colors;

// 2. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 640px,
  mediumlarge: 769px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
  xxxlarge: 1801px,
);
$breakpoint-classes: (small medium mediumlarge large);

// 11. Button
// ----------

$button-hollow-border-width: 2px;

// 53. Title Bar
// -------------

$titlebar-background: $white;
$titlebar-color: $black;
$titlebar-icon-color: $primary-color;
$titlebar-icon-color-hover: $primary-color;

// 55. Top Bar
// -----------

$topbar-background: $white;
$topbar-unstack-breakpoint: mediumlarge;
